*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg,#bdc3c7,#2c3e50);
    font-family: 'Open Sans', sans-serif;
}

.form-holder {
    position: absolute;
    bottom: 50%;
    left: 40%;
    height: 40%;
    width: 20%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .form {
    height: 50%;
    width: 100%;
    position: relative;
    left: 10px;
    top: 10px;
    overflow: hidden;
   
  }
  
  .form input {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding-top: 80px;
    font-size: 24px;
  }
  
  .form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
  }
  
  .form label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: -1px;
    border-bottom: 3px solid rgb(23, 144, 201);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }
  
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    color: rgb(23, 144, 201);
    font-size: 14px;
  }
  
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);

  }
  
  .login {
   width: 30%;
   height: 20%;
    background-image:linear-gradient(90deg,#2193b0,#6dd5ed);
    position: relative;
    top: 20px;
    left: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
  }
  .login:hover {
    background-image: linear-gradient(240deg,#6bb9ca,#1f7b92);
  }

  .Invisible{
    display: none;
  }

  
    
  
  